$color-background: #fafbfc;
$color-background-inner: #fff;
$color-font: black;
$color-border: #e1e4e8;
$color-primary: #f8b500;
$color-secondary: #ffd771;
$color-editor-header-bg: #2F3129;
$color-editor-header-font: #fff;
$center-button-size: 50px;